@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";



:root {
  --font-inter: 'Inter', sans-serif;
  background: black
}

.logo-font {
  font-family: "Old Standard TT", serif;
}

.logo-line-font {
  font-family: "Playfair", serif;
}

.heading-font {
  font-family: 'Funnel Display', sans-serif;
}

.mission-font {
  font-family: "Cormorant Garamond", serif;
}
